[Desktop Entry]
Name=RedshiftAutostartNotifier
Exec=redshiftautostart
Icon=redshift
Type=Application
Terminal=false
X-KDE-autostart-after=panel
OnlyShowIn=KDE;


