[Desktop Entry]
Encoding=UTF-8
Name=Redshift
Comment=Applet for the redshift application
Icon=redshift
Type=Service
X-Plasma-DefaultSize=200,200
X-KDE-PluginInfo-Author=Simone Gaiarin
X-KDE-PluginInfo-Email=simgunz@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.redshift
X-KDE-PluginInfo-Version=0.1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
