[Desktop Entry]
Encoding=UTF-8
Name=Redshift
Comment=Adjusts the color temperature of your screen according to your surroundings 
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-Plasma-NotificationArea=true
Icon=redshift

X-KDE-PluginInfo-Author=Diego Cristina
X-KDE-PluginInfo-Email=diegocc100@gmail.com
X-KDE-PluginInfo-Author=Simone Gaiarin
X-KDE-PluginInfo-Email=simgunz@gmail.com
X-KDE-PluginInfo-Name=redshift
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://github.com/diegc/plasma-flux
X-KDE-PluginInfo-License=GPL V3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Utilities